@import "tailwindcss";

@layer components {
  .bg-color {
    @apply bg-[#721154];
  }

  .footer-heading {
    @apply text-[#FFF3FC] font-[Protest_Strike] text-[40px] font-normal leading-[140%] tracking-[0.72px];
  }

  .footer-link {
    @apply text-white font-[Poppins] text-[20px] font-normal leading-[140%] tracking-[0.36px];
  }

  .footer-link-heading {
    @apply text-white font-[Poppins] text-[24px] font-semibold leading-[140%] tracking-[0.432px] mt-[5%];
  }

  .footer-list-item {
    @apply cursor-pointer hover:underline;
  }

  .footer-bottom-text {
    @apply text-white font-[Poppins] text-[20px] font-normal leading-[28px] tracking-[0.36px];
  }

  .footer-section-heading {
    @apply text-white font-[Poppins] text-[24px] font-semibold leading-[140%] tracking-[0.432px] mt-[5%];
  }

  .footer-section-list {
    @apply flex flex-col gap-2 text-[20px] font-normal leading-[140%] tracking-[0.36px] mt-2;
  }

  .btn-primary {
    @apply flex items-center justify-center px-4 cursor-pointer py-2 text-white rounded-lg transition shadow-sm;
    background-color: #BB108C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  }

  .btn-primary:hover {
    background-color: #a10a79;
  }
}